[submodule "external/export_fig"]
	path = external/export_fig
	url = https://github.com/altmany/export_fig
	# c6cdb2f	v3.46
[submodule "external/xml2struct"]
	path = external/xml2struct
	url = https://github.com/joe-of-all-trades/xml2struct
	# ba9c406	
[submodule "external/k-wave"]
	path = external/k-wave
	url = https://github.com/ucl-bug/k-wave.git
	# 2d98012
[submodule "external/FEX-minimize"]
	path = external/FEX-minimize
	url = https://github.com/rodyo/FEX-minimize.git
	# 2f6ee87	v1.7
