data_path: /home/.../Ernie_T1_T2/ # the folder with either a) t1 & t2 images, or b) t1 image and the segmentation results, e.g., Ernie subject from SimNIBS
simnibs_bin_path: /home/.../SimNIBS-4.0/bin/ # change to simnibs install

t1_path_template: ernie_T1.nii.gz # path to T1 relative to data_path; all string substitutions will be done using subject_id
t2_path_template: ernie_T2.nii.gz # path to T2 relative to data_path; all string substitutions will be done using subject_id

# An optional path to LD_LIBRARY used during SimNIBS installation
# If you experience an `undefined symbol` error in `create_mesh_surf.cpython-39-x86_64-linux-gnu.so`, set the next line to your LD_LIBRARY location
#ld_library_path: /opt/gcc/7.2.0/lib64  % or for slurm /home/.../SimNIBS-4.0/simnibs_env/lib/python3.9/site-packages/simnibs/mesh_tools/cgal/../../external/lib/linux

# If you encounter the error "The qform and sform of do not match. Please run charm with the --forceqform option" when running charm, you can set this to 1 to do it for all subjects
use_forceqform: 0

# Use the kwaveArray class for simulations. Automatically enabled in the back-end if a matrix array transducer is defined.
use_kWaveArray: 1

# The 40GB GPU HPC partition is required only if a large matrix array transducer is used with layered simulations. 
#hcp_partition: gpu40g

transducer: 
  array_shape:
    type: matrix # 'annular' (Annular array transducer) or 'matrix' (Matrix array transducer)
    
    annular:
      n_elements: 4
      Elements_ID_mm: [0, 32.9184, 46.1264, 56.0324]
      Elements_OD_mm: [32.3596, 45.5676, 55.5244, 64.008]
      curv_radius_mm: 63.20 # radius of curvature of the bowl 
      dist_to_plane_mm: 52.38 # distance to the transducer plane from the geometric focus
      source_phase_deg: [0, 0, 0, 274] # original: [0.0, 13.2, 26.4, 52.8] # source phase [deg]
      
    matrix:
      steering: 3D # 1D (Axial steering) or 3D (Volumetric steering)
      
      # Element area is based on a rectangular shape with the specified height and width.
      # If a disc or bowl shape is selected, its area matches that of the rectangular element.
      elem_height_mm: 4 # [mm]
      elem_width_mm: 4 # [mm]
      
      # Element shape options:
      #   rect → Rectangular
      #   disc → Circular disc
      #   bowl → Curved (bowl-shaped)
      element_shape: bowl
  
      outer_diameter_mm: 55 # outer diameter of the transducer [mm]
      
      # Used only for visualization if element positions are loaded from file.
      is_curved: true
      curved:
        curv_radius_mm: 75 # radius of curvature of the bowl 
        dist_to_plane_mm: 69.75 # distance to the transducer plane from the geometric focus

      # When the Clover setup is enabled, the defined transducer is replicated
      # into a three-leaf Clover configuration (up to three leaves).
      # The parent ROC of the composite setup can differ from the individual transducer ROC.      
      is_clover_setup: true
      clover:
        n_leaves: 2 # Number of leaves (up to three leaves)
        ROC_parent: 75 # [mm]
            
      matrix_shape:
        type: define_here # 'define_here', 'extract_from_file'
        define_here:
          # Type of element grid distribution:
          #   rect → Rectangular grid
          #   fibonacci → Fibonacci grid
          grid_shape: 
            type: fibonacci
             
            rect:
              # Number of rows and columns in the transducer (for rectangular grid).
              n_elem_row: 9
              n_elem_col: 9
              
              # Element spacing in each direction [mm].
              elem_spacing_height_mm: 0.5
              elem_spacing_width_mm: 0.5
              
              sparsity_factor: 1 # (0.1 to 1.0) Example: 0.7 = use 70% of elements

            fibonacci:
              # Total number of elements for Fibonacci grid.
              n_elements: 64   

        extract_from_file:
          file_path: tr72Clover_100.xlsx # Path to the file containing x, y, z coordinates of the elements
          
          # First row and column containing x, y, z element coordinates.
          # Note: MATLAB may ignore the first Excel row if it contains headers.
          start_row: 3
          start_col: 2
          
          # Total number of elements to extract.
          # Set to the full number of elements if you plan to select a random subset later.
          n_elements: 72
          
          # Enable to randomly select a subset of elements from the total.
          select_random_subset: false
          subset:
            # If true, a new random subset is generated each run.
            # If false, the same subset is used for repeatability.
            random_seed: true
            subset_n_elements: 64 # Number of elements to include in the subset.

          # Optionally project the current element layout onto a new radius of curvature (ROC).
          # Note: results may become unrealistic or unfeasible when, for example, spacing between elements decreases with an increasing ROC.
          project_on_new_ROC: false 
            new_ROC_mm: 100 # [mm]
 
              
  depth_mm: 16 # depth of transducer used for visualization purposes               
  source_amp: 1000000 # [Pa] 
  source_freq_hz: 400e3 # [Hz] the central frequency
  pos_grid: [150, 150, 12]
#  pos_t1_grid: [150, 155, 15] # position on T1 grid

# focus_pos_t1_grid: [130, 158, 90] # stimulation target on T1 grid
focus_pos_grid: [150, 150, 162]
expected_focal_distance_mm: 75

default_grid_dims: [300, 300, 300]

thermal:
  duty_cycle: 0.5 # share of the stimulation duration during which the stimulation is on
  sim_time_steps: 0.1 # [s] simulation time steps during the stimulation period
  temp_0: 37 #[deg C] initial temperature, currently not used
  stim_duration: 0.6 # [s] stimulation duration within a trial
  iti: 1.2 # interval between the trials, from the start of one trial to the start of another [s]
  n_trials: 12 # number of trials to simulate; the total simulated duration is then n_trials*iti seconds

# Segmentation software (current options are 'headreco' and 'charm')
segmentation_software: charm
